@media (min-width: 767px){
    
    .aimagea{
        padding-left: 7%;
    }
    .aimageb{
        padding-left: 2%;
    }
    .enimage{
        border-left:inset; height:30px; 
    }
    .imgs{
        width:173.46px;
         height:60px;
    }
    .paavissos{
        padding-right:250px;
        padding-left: 20px;
    }
    
  }
  
  @media (max-width: 770px){
    .enimage{
        border-left:inset; height:30px; 
    }
    .aimagea{
    }
    .aimageb{
    }
    .imgs{
        width:140px;
         height:60px;
    }
    .paavissos{
    }
  }
  .fixed-top{
    position:unset !important; 
}